<div class="col-xs-12 max-width social-access">
	
	<div class="col-xs-offset-1 col-xs-3 max-height">
		<%=link_to user_omniauth_authorize_path(:facebook) do %> 
			<div class="log-icon", id="facebook-f"></div>
		<% end %>
	</div>
 
 
 	<div class="col-xs-3 max-height">
 		<%=link_to user_omniauth_authorize_path(:twitter) do %> 
			<div class="log-icon", id="twitter-bird"></div>
		<% end %>

	</div>
	

	 <div class="col-xs-3 max-height">
	 	<%=link_to user_omniauth_authorize_path(:google_oauth2) do %> 
			<div class="log-icon", id="google-g"></div>
		<% end %>
	</div>
					
</div>
