<div class="row footer">
	<div class="footer-top">
		
    		Basic panel example
  		
	</div>

  	<div class="footer-bottom">
    	<div class="ftext">Made with 
    		<span class="glyphicon glyphicon-heart" id="love"></span>
    	during Ironhack</div>
	</div>
</div>
