<footer>
<div class="col-xs-12 no-padding footer">
	<div class="footer-top">
		<div class="ftext-top">Follow us on:</div>
		
		<div class="col-xs-offset-3 col-xs-2 f-logo-col">
			<a>
				<div class="f-logo" id="facebook"></div>
			</a>
		</div>

		<div class="col-xs-2 f-logo-col">
			<a class="center-pls max-space" href="https://twitter.com/bdaytdy">
				<div class="f-logo" id="twitter"></div>
			</a>
		</div>
		
		<div class="col-xs-2 f-logo-col">
			<a>
				<div class="f-logo" id="google-plus"></div>
			</a>
		</div>
		
		<div class="col-xs-3 f-logo-col"></div>
		</div>

  	<div class="col-xs-12 footer-bottom">
  		<div class="col-xs-12 max-space">
    	<div class="ftext-bot">Made with 
    		<span class="glyphicon glyphicon-heart" id="love"></span>
    	during Ironhack</div>
    	</div>
	</div>
</div>
</footer>
