</section>
<section class="container-fluid no-padding no-margin img-responsive">
	<div class="back-main img-responsive ">
		
		<div class="col-xs-12 main-intro-padding">
			<span class="main-intro-bday-style">¡Bienvenid@ a bDay!</span>
		</div>
	</div>
</section>
<section class="container-fluid">
	<div class="row margin-bottom">
		<h2 class="bday-style form-text-title">Felicitar a tus amigos nunca fue tan fácil</h2>
		<div class="hline"></div>
	</div>
	<div class="row">
		<div class="col-sm-4 col-md-4 form-text-title main-parts-margin-bottom">
			<h4 class="bday-style form-text-title">Date de alta</h4>
			<div class="img-circle img-responsive main-circles">
				<span class="glyphicon glyphicon-pencil main-icons"></span>
			</div>
			<p class="main-style"> Símplemente date de alta haciendo clic en el botón de la parte superior de la página</p>
		</div>
		<div class="col-sm-4 col-md-4 form-text-title main-parts-margin-bottom">
			<h4 class="bday-style">Añade a tus amigos y familiares</h4>
			<div class="img-circle img-responsive main-circles">
				<span class="glyphicon glyphicon-user main-icons"></span>
			</div>
			<p class="main-style"> Símplemente date de alta haciendo clic en el botón de la parte superior de la página</p>
			</div>
		<div class="col-sm-4 col-md-4 form-text-title main-parts-margin-bottom">
			<h4 class="bday-style">Escríbeles un mensaje personalizado</h4>
			<div class="img-circle img-responsive main-circles">
				<span class="glyphicon glyphicon-envelope main-icons"></span>
			</div>
			<p class="main-style"> Símplemente date de alta haciendo clic en el botón de la parte superior de la página</p>
			</div>
	</div>

  
  