<div class="container-fluid">
	<section class="container-fluid searchbox" >
		<div class="row searchbox">
			<article class="col-xs-4 col-xs-offset-4 searchcolumn">
				<form action="/game" method="GET" name="movie_search">
					<label for "search1" id="search_label">¡Bienvenid@ a bDay!</label>
				</form>
			</article>
		</div>
	</section>
</div>