.footer {
	position:fixed;
	bottom:0;
	width:100%;
	height:60px;   /* Height of the footer */
}

.footer-top {
	width:100%;
	height:65%;
	background:#F8F8F8;
	text-align: center
}

.footer-bottom {
	width:100%;
	height:35%;
	background:#000;
	vertical-align: middle;
}

.ftext {
	text-align: center;
	vertical-align: middle;
	font-family: 'Satisfy', sans-serif;
	font-style: cursive;
	font-weight: 300;
	color:white;
}

.max-space {
	height: 100%;
	width: 100%;
}

.no-bottom {
	margin-bottom: 0px;
}

#animated-glyphicon {
	-webkit-transition: color 0.5s;
}

#animated-glyphicon:hover {
	color:orange;
}

#base_container {
	padding-right: 0px;
    padding-left: 0px;
}

#love {
	color:red;
}

/*.topbar {
	background-color: rgba(0,0,0,0.1);
	height:6%;
	width: 100%;
	position:fixed;
	z-index: 999;
	overflow: scroll;
}*/


/*.nav_button {
    height: 100%;
    color: #000;
}
.nav_button:hover path {
    color: #fff;
}*/

.form-control {
	width: 20%;
}

.social_login {
	cursor: pointer;
}



/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
